*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0 1rem;
}
body{
    color: rgba(228, 228, 228);
    background-color: rgb(24, 24, 24);
    font-family: 'Libre Franklin', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}
#logo{
    font-size: 2rem;
    font-weight: 900;
}
#header-links{
    display: flex;
    list-style-type: none;

}
#header-links a{
    text-decoration: none;
}
#aboutMe{
    margin-right: 15rem;
    padding-bottom: 10rem;
}
#short-summary{
    text-align: left;
    font-size: 3.3rem;
    margin-bottom: 2rem;
}

#name{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(104, 208, 174);
    text-decoration-thickness: 0.4rem;

}
#me{
    text-align: left;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#contact{
    color: white;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(104, 208, 174);
    text-decoration-thickness: 0.2rem;
    letter-spacing: 0.2rem;
}
#skill-list ul{
    border-top: 0.2rem solid white;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1.5rem
}
#skill-list li{
    list-style-type: none;
    margin-bottom: 2.5rem;
}