*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0 1rem;
}
body{
    color: rgba(228, 228, 228);
    background-color: rgb(35, 35, 35);
    font-family: 'Libre Franklin', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}
#logo{
    font-size: 2rem;
    font-weight: 900;
}
#header-links{
    display: flex;
    list-style-type: none;

}
#header-links a{
    text-decoration: none;
}
#aboutMe{
    margin-right: 15rem;
}
#short-summary{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
