*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0 0.5rem;
}
body {
    color: rgb(72, 72, 72);
    background-image: radial-gradient(rgb(255, 255, 255), rgb(250, 240, 240), rgb(230, 230, 230));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    
}


header img{
    max-width: 5rem;

}
#logo{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Cedarville Cursive', cursive;
}
#header-links{
    list-style-type: none;
}
#header-links a{
    text-decoration: none;
}
#aboutMe{
    padding-bottom: 10rem;
}
#short-summary{
    text-align: left;
    margin-bottom: 2rem;
    min-width: 100%;
}

#name{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(208, 104, 179);
    text-decoration-thickness: 0.4rem;
}
#me{
    text-align: left;
    line-height: 2rem;
    margin-bottom: 3rem;
}

#contact{
    color: rgb(31, 31, 31);
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(208, 104, 179);
    text-decoration-thickness: 0.2rem;
    letter-spacing: 0.2rem;
    white-space: nowrap;
}

#skill-list ul{
    border-top: 0.2rem solid rgb(198, 198, 198);
    padding-top: 3rem;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid rgb(198, 198, 198);

}
#skill-list li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 769px) {
    #header-links{
        display: flex;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    #skill-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 768px) {
    #header-links{
        display: flex;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2rem;
        margin-bottom: 4rem;
    }
    #skill-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #short-summary{
        min-width: 100%;
        font-size: 3vh;
    }
    
}

@media only screen and (max-width: 635px) {
    #logo{
        display: flex;
        justify-content: center;
        font-size: 4rem;
    }
    #header-links{
        display: flex;
    }
    header{
            text-align: center;
            display: block;
            flex-direction: row;
            padding-top: 2rem;
            margin-bottom: 4rem;
    }    
    #skill-list ul{
        display: grid;
        grid-template-columns: 1fr;
    }
    #short-summary{
        min-width: 100%;
        font-size: 1.9rem;
    }
#me{
    min-width: 300px;
}
}